<h2>{{ clientId ? 'Editar cliente' : 'Nuevo cliente' }}</h2>

<form [formGroup]="clientForm" (ngSubmit)="onSubmit()">

    <div *ngIf="error" style="color:red">{{ error }}</div>

    <div class="form-group">
        <label for="name">Nombre {{clientId ? '' : '*'}}</label>
        <input id="name" type="text" formControlName="name" />
        <div class="error-message" *ngIf="clientForm.get('name')?.invalid && clientForm.get('name')?.touched">
            El nombre es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="gender">Genero {{clientId ? '' : '*'}}</label>
        <select id="gender" formControlName="gender">
            <option [value]="''">--Seleccionar genero--</option>
            <option *ngFor="let g of genders" [value]="g.value">{{ g.label }}</option>
        </select>
        <div class="error-message" *ngIf="clientForm.get('gender')?.invalid && clientForm.get('gender')?.touched">
            El genero es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Fecha de nacimiento {{clientId ? '' : '*'}}</label>
        <input id="dateOfBirth" type="date" formControlName="dateOfBirth" />
        <div class="error-message"
            *ngIf="clientForm.get('dateOfBirth')?.invalid && clientForm.get('dateOfBirth')?.touched">
            La fecha de nacimiento es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="identification">Identififcación {{clientId ? '' : '*'}}</label>
        <input id="identification" type="text" formControlName="identification" />
        <div class="error-message"
            *ngIf="clientForm.get('identification')?.invalid && clientForm.get('identification')?.touched">
            La identififcación es requerida.
        </div>
    </div>

    <div class="form-group">
        <label for="address">Dirección {{clientId ? '' : '*'}}</label>
        <input id="address" type="text" formControlName="address" />
        <div class="error-message" *ngIf="clientForm.get('address')?.invalid && clientForm.get('address')?.touched">
            La dirección es requerida.
        </div>
    </div>

    <div class="form-group">
        <label for="phoneNumber">Numero de teléfono {{clientId ? '' : '*'}}</label>
        <input id="phoneNumber" type="text" formControlName="phoneNumber" />
        <div class="error-message"
            *ngIf="clientForm.get('phoneNumber')?.invalid && clientForm.get('phoneNumber')?.touched">
            El numero de teléfono es requerido.
        </div>
    </div>

    <div class="form-group">
        <label for="password">Contraseña {{clientId ? '' : '*'}}</label>
        <input id="password" type="password" formControlName="password" />
        <div class="error-message" *ngIf="clientForm.get('password')?.invalid && clientForm.get('password')?.touched">
            La contraseña es requerida.
        </div>
    </div>

    <div class="button-container">
        <button type="button" (click)="onCancel()" [disabled]="loading">Cancelar</button>
        <button type="submit" [disabled]="loading || clientForm.invalid">{{ loading ? " ... " : clientId ? 'Actualizar' :
            'Crear' }}</button>
    </div>
</form>